@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans:400');
@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans&display=swap&subset=korean'); 
body {
    background-color: #f1c40f;
    margin-top: 5%;
    overflow: hidden;
}

font {
    font-family: 'Black Han Sans', sans-serif;
    font-size: 3cm;
}

.character {
    text-align: center;
    margin-top: 5%;
}

.virus1 {
    position: absolute;
    top: 20%;
    left: 10%;
}

.virus2 {
    position: absolute;
    bottom: 20%;
    left: 20%;
}

.virus3 {
    position: absolute;
    top: 20%;
    left: 75%;
}

.story_btn {
    font-size: 5vh;
    color: white;
    width: 14%;
    height: 10%;
    background-color: black;
    position: absolute;
    bottom: 36%;
    right: 10%;
    border-radius: 10px;
}

.how_btn {
    font-size: 5vh;
    color: white;
    width: 14%;
    height: 10%;
    background-color: black;
    position: absolute;
    bottom: 24%;
    right: 10%;
    border-radius: 10px;
}
.start_btn {
    font-size: 5vh;
    color: white;
    width: 14%;
    height: 10%;
    background-color: black;
    position: absolute;
    bottom: 12%;
    right: 10%;
    border-radius: 10px;
}
.start_btn:focus { outline: none; }
.how_btn:focus { outline: none; }
.story_btn:focus { outline: none; }