@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans:400');
@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans&display=swap&subset=korean'); 
body {
    overflow: hidden;
    margin: 0;
}

.text {
    font-family: 'Black Han Sans', sans-serif;
    font-size: 2cm;
    background-color: #f1c40f;
    text-align: center;
    padding: 10 10 10 10;
    margin: 0;
}

.startFirstStage {
    text-align: center;
    margin-top: 5%;
}

.next {
    font-size: 5vh;
    color: white;
    width: 13%;
    height: 10%;
    background-color: black;
    position: absolute;
    bottom: 15%;
    right: 15%;
    border-radius: 10px;
}

.main {
    font-size: 5vh;
    color: white;
    width: 13%;
    height: 10%;
    background-color: black;
    position: absolute;
    bottom: 15%;
    left: 15%;
    border-radius: 10px;
}