@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');

body {
    background-color: #f1c40f;
    margin: 5% 5% 5% 5%;
    overflow: hidden;
}

h1 {
    font-family: 'Gothic A1', sans-serif;
    font-size: 50px;
    text-align: center;
}

font {
    font-family: 'Gothic A1', sans-serif;
}

.character {
    margin-left: 7%;
    margin-top: 4%;
}

.start_btn {
    font-size: 5vh;
    color: white;
    width: 14%;
    height: 10%;
    background-color: black;
    position: absolute;
    bottom: 10%;
    right: 5%;
    border-radius: 10px;
}

.main_btn {
    font-size: 5vh;
    color: white;
    width: 14%;
    height: 10%;
    background-color: black;
    position: absolute;
    bottom: 10%;
    right: 20%;
    border-radius: 10px;
}